%h1 Listing classrooms
= link_to 'New Classroom', new_classroom_path

%table.table.table-striped
  %thead
    %tr
      %th Year
      %th Name
      %th Number

  %tbody
    - @classrooms.each do |classroom|
      %tr
        %td= classroom.year.year
        %td= link_to classroom.name, classroom
        %td= classroom.number

%br

