%h1 Listing classrooms

%table.table.table-striped
  %thead
    %tr
      %th Name
      %th Number
      %th Year

  %tbody
    - @classrooms.each do |classroom|
      %tr
        %td= classroom.year.year
        %td= link_to classroom.name, classroom
        %td= classroom.number

%br

= link_to 'New Classroom', new_classroom_path
