%h1 Listing streams
= link_to 'New Stream', new_stream_path

%table.table.table-striped
  %thead
  %tbody
    -# - @streams.each do |stream|
    - @streams.group_by(&:classroom).each do |classroom, streams|
      %tr
        %th #{classroom.class_name} 
      %tr
      -streams.each do |stream|
        %td= link_to stream.name, stream

%br

