.nested_fields 
    %table
        %thead
            %tr
                %td Votehead
                %td G.O.K
                %td Parent
        %tbody
            %tr
                %td= f.text_field :votehead
                %td= f.text_field :gok
                %td= f.text_field :parent
                %td= link_to_remove_association "remove votehead", f