// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.card{
    width:240px !important;
    height: 100px !important;
    background: url(/assets/summery-bg1.png) no-repeat center;
    background-size: 100% 100%;
    background-color: red !important;
}
.card:hover{
    top: 5px;
    box-shadow: 0px 10px 30px rgb(108 39 255 / 30%);
    background-size: 100% 100%;
    padding: 22px 20px;
    position: relative;
    transition: all 0.4s ease 0s;
}