%h1 Listing years

%table.table.table-striped
  %thead
    %tr
      %th Year

  %tbody
    - @years.each do |year|
      %tr
        %td= link_to year.year, year
%br

= link_to 'New Year', new_year_path
